<% if @jobs.empty? %>
  <div> No jobs here!</div>
<% end %>
<%= render 'search' %>
<ul class='list-group'>
  <% @jobs.each do |job| %>
    <li class='list-group-item'>
      <h1 class='text-center'> <%= job.title %></h1>
      <h3 class='text-left'>Total salary: <%= job.total_salary %> €</h3>
      <h3 class='text-left'>Shifts:
        <% job.shifts.each do |shift| %>
          <p style='text-indent:100px'> <%= format_period(shift.period) %> </p>
        <% end %>
      </h3>
      <span class='badge badge-primary'> <%= format_languages(job.languages) %> </span>
      <div style='margin-top:20px'>
        <button class="btn btn-primary">
          <%= link_to 'apply', apply_jobs_path(job_id: job.id), method: :post, class: 'btn-primary' %>
        </button>
      </div>
    </li>
  <% end %>
  <%= will_paginate @jobs %>
</ul>
