<div class='col-8' style='margin-top:20px'>
  <%= simple_form_for @job do |f| %>
    <%= f.error_notification %>
    <%= f.input :title, required: true, class: "form-control" %>
    <%= f.input :salary_per_hour, as: :numeric, required: true %>
    <div style='margin-bottom:20px'>
      <%= f.input :languages, as: :select, collection: Language.all, label: 'Languages', include_hidden: false, input_html: { class: 'select2', multiple: true } %>
      <%= link_to 'Add language', new_language_path, method: :get, class: 'btn btn-outline-primary' %>
    </div>
    <div style='margin-bottom:20px'>
      <%= f.input :shifts, as: :select, collection: Shift.all.map { |s| [s.period, s.id] }, label: 'Shifts', include_hidden: false, input_html: { class: 'select2', multiple: true } %>
      <%= link_to 'Add shift', new_shift_path, method: :get, class: 'btn btn-outline-primary' %>
    </div>
    <%= f.button :submit, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
